fastapi==0.115.0
uvicorn[standard]==0.30.6
uvloop==0.20.0
pydantic==2.9.2
pydantic-settings==2.5.2
SQLAlchemy[asyncio]==2.0.35
asyncpg==0.29.0
alembic==1.13.3
aiokafka==0.11.0
aiosmtplib==3.0.2
httpx==0.27.2
Jinja2==3.1.4
python-jose[cryptography]==3.3.0
cachetools==5.5.0
structlog==24.4.0
prometheus-client==0.21.0
opentelemetry-distro==0.49b0
opentelemetry-exporter-otlp==1.28.0
opentelemetry-instrumentation-fastapi==0.49b0
opentelemetry-instrumentation-asyncpg==0.49b0
opentelemetry-instrumentation-aiokafka==0.49b0
opentelemetry-instrumentation-logging==0.49b0
